@import "open-props/style";
@import "themes/dark.css";
@import "themes/light.css";
@import "fonts.css";

:root {
  font-family: OpenSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-1);
  font-weight: 500;
}

p {
  font-weight: var(--font-weight-4);
  letter-spacing: var(--font-letterspacing-3);
  word-spacing: var(--font-letterspacing-3);
  text-align: justify;
  margin: 0;
}

h1 {
  margin: 0;
}
