.toggle-indicator {
  font-size: var(--font-size-1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--size-3) var(--size-5);
}

.sun {
  color: var(--yellow-6);
}

.moon {
  color: var(--stone-1);
}
